<!DOCTYPE html>

<html>
    <head>
        <title>Trade Suit</title>

        <link rel="stylesheet" href="../styles/index_style.css">
    </head>


    <body>
        <h1><center>Trade Suit</center></h1>

        <br><br><br><br><br><br><br><br><br><br>

        <center>
        <a href="./index.html"><button class="main-button">Live Trading</button></a>
        <br><br><br>
        <a href="./backtest.html"><button class="main-button"> Backtest</button></a>
        </center>
    </body>
</html>